# Python
__pycache__/
.idea/
.spyproject/
*~
asymmetree.egg-info/
build/
dist/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
bin/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# others
exmples/results/*
